In [5]:
nama = "Yanto"
umur = 38
print(f"Nama : {nama} \nUmur : {umur}")

Nama : Yanto
Umur : 38

In [6]:
from math import pi

jari = 8
luas = pi *jari**2
keliling = 2*pi*jari
print(f"Luas Lingkaran : {luas} \nKeliling Lingkaran : {keliling}")

Luas Lingkaran : 201.06192982974676
Keliling Lingkaran : 50.26548245743669

In [7]:
angka = 129
teks = 'ini angka'
print(f"Tipe Data Angka : {type(angka)} \nTipe Data Teks : {type(teks)}")

Tipe Data Angka : <class 'int'>
Tipe Data Teks : <class 'str'>

In [8]:
nilai = 100
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')
nilai = float(nilai)
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')

nilai kamu adalah 100 dan tipe datanya adalah <class 'int'>
nilai kamu adalah 100.0 dan tipe datanya adalah <class 'float'>

In [9]:
a = "123"
print(f"Tipe Data a : {type(a)}")
a = int(a)
print(f"Tipe Data a : {type(a)}")

Tipe Data a : <class 'str'>
Tipe Data a : <class 'int'>

In [10]:
text = "ulang "
multiplied_text = text * 3
print(multiplied_text)

ulang ulang ulang

In [11]:
number = 7
if number % 2 == 0:
  print("Genap")
else:
  print("Ganjil")

Ganjil

In [12]:
value = 150
if value > 100:
    print("lebih dari 100")
else:
    print("100 atau kurang dari")

lebih dari 100

In [13]:
age = 16
if age <= 12:
    print("Anak-anak")
elif 13 <= age <= 17:
    print("Remaja")
else:
    print("Dewasa")

Remaja

In [14]:
username = input("Enter username: ")
if username == "Jono":
    print("Selamat datang {username}")
elif username == "Slamet":
    print(f"Selamat datang {username}")
else:
    print("Nama tidak dikenali")

In [ ]:
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Tahun Kabisat")
else:
    print("Bukan Tahun Kabisat")

In [ ]:
age = 18
if age >= 18:
    print("Boleh memberikan suara")
else:
    print("Tidak boleh memberikan suara")

In [ ]:
a, b, c = 3, 7, 5
largest = max(a, b, c)
print(f"Nilai terbesar {largest}")

In [ ]:
str1 = "hello"
str2 = "world"
if len(str1) == len(str2):
    print("Memiliki Panjang yg sama")
else:
    print("Memiliki panjang yg berbeda")

In [ ]:
for i in range(1, 11):
    print(i)

In [ ]:
i = 2
while i <= 20:
    print(i)
    i += 2

In [ ]:
sentence = input("Masukkan Kalimat: ")
for _ in range(5):
    print(sentence)

In [ ]:
N = 10
total_sum = sum(range(1, N + 1))
print(f"Sum dari 1 to {N} adalah {total_sum}")

In [ ]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

In [ ]:
start = 1
end = 10
sum_odds = sum(i for i in range(start, end + 1) if i % 2 != 0)
print(f"Sum of odd numbers between {start} and {end} is {sum_odds}")

In [ ]:
def triangle_area(base, height):
    return 0.5 * base * height

print(triangle_area(10, 5))

In [ ]:
def greet(name):
    print(f"Halo, {name}")

greet("Alice")

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(7))

In [ ]:
def max_of_three(a, b, c):
    return max(a, b, c)

print(max_of_three(3, 7, 5))

In [ ]:
def celsius_ke_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print(celsius_ke_fahrenheit(30))

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

In [ ]:
def sum_list(numbers):
    return sum(numbers)

print(sum_list([1, 2, 3, 4, 5]))

In [ ]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [ ]:
print(names[0])
print(names[-1])

In [ ]:
names.append("Frank")
print(names)

In [ ]:
names.remove("Charlie")
print(names)

In [ ]:
print(len(names))

In [ ]:
numbers = [3, 1, 4, 1, 5]
numbers.sort()
print(numbers)

In [ ]:
numbers_tuple = (1, 2, 3, 4, 5)

In [ ]:
print(3 in numbers_tuple)  # Output: True

In [ ]:
students = {"Alice": 85, "Bob": 90, "Charlie": 78}

In [ ]:
print(students["Alice"])

In [ ]:
students["David"] = 88
print(students)

In [ ]:
del students["Bob"]
print(students)

In [ ]:
students["Alice"] = 95
print(students)

In [ ]:
print(students.keys())

In [ ]:
print(students.values())

In [ ]:
scores_list = list(students.values())
print(scores_list)

In [ ]:
unique_numbers = {1, 2, 3, 4, 5}

In [ ]:
unique_numbers.add(6)
print(unique_numbers)

In [ ]:
unique_numbers.remove(3)
print(unique_numbers)

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

In [ ]:
print(set1.union(set2))

In [ ]:
print(set1.issubset(set2))

In [ ]:
print(set1.difference(set2))

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 4, 5]
unique_numbers = set(numbers)
print(len(unique_numbers))

In [ ]:
with open("example.txt", "w") as file:
    file.write("Hello, world!")

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

In [ ]:
with open("example.txt", "a") as file:
    file.write("\nNew line added.")

In [ ]:
with open("example.txt", "r") as file:
    for line in file:
        print(line, end="")

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()
    word_count = len(content.split())
    print(word_count)

In [ ]:
import os
os.remove("example.txt")

In [ ]:
if os.path.exists("example.txt"):
    print("File exists")
else:
    print("File does not exist")

In [ ]:
with open("example.txt", "w") as file:
    file.write("Hello, world!")

with open("example.txt", "r") as src:
    with open("copy.txt", "w") as dst:
        dst.write(src.read())

In [ ]:
numbers = [x for x in range(1, 11)]
print(numbers)

In [ ]:
evens = [x for x in range(1, 21) if x % 2 == 0]
print(evens)

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

In [ ]:
words = ["hello", "world"]
upper_words = [word.upper() for word in words]
print(upper_words)

In [ ]:
numbers = [1, 2, 3, 6, 7, 8]
filtered = [x for x in numbers if x > 5]
print(filtered)

In [ ]:
string = "hello world"
vowels = [char for char in string if char in 'aeiou']
print(vowels)

In [ ]:
result = 10/0
print(result)

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Division by zero is not allowed")

In [ ]:
angka = 'ini angka'
print(int(angka))

In [ ]:
angka = 'ini angka'
try:
  angka = int(angka)
except ValueError:
  print("")

In [ ]:
try:
    number = int(input("Enter a number: "))
except ValueError:
    print("Input is not a valid number")

In [ ]:
my_list = [1, 2, 3]
try:
    print(my_list[5])
except IndexError:
    print("Index out of range")

In [ ]:
try:
    result = 10 / int(input("Enter a number: "))
except ValueError:
    print("Input is not a valid number")
except ZeroDivisionError:
    print("Cannot divide by zero")

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Division by zero is not allowed")
finally:
    print("This will execute regardless of an exception")

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LinearRegression().fit()

In [ ]:
class Mahasiswa:
    def __init__(self, nama, umur):
        self.nama = nama
        self.umur = umur

In [ ]:
class Mahasiswa:
    def __init__(self, nama, umur, jenis_kelamin):
        self.nama = nama
        self.u = umur
        self.jk = jenis_kelamin

    def tampilkan_informasi(self):
        print(f"Nama: {self.nama}, Umur: {self.u}, Jenis Kelamin : {self.jk}")

In [ ]:
mhs = Mahasiswa('yanto', 98, 'Laki-laki')
mhs.tampilkan_informasi() #memanggil fungsi untuk menampilkan informasi

In [ ]:
mahasiswa1 = Mahasiswa("Alice", 20)
mahasiswa1.tampilkan_informasi()

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

person = Person("John")
print(person.name)

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

class Mahasiswa(Person):
    def __init__(self, name, umur):
        super().__init__(name)
        self.umur = umur

mahasiswa = Mahasiswa("Alice", 20)
print(mahasiswa.name, mahasiswa.umur)

In [ ]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Dog barks")

dog = Dog()
dog.speak()

In [ ]:
class Counter:
    count = 0

    def __init__(self):
        Counter.count += 1

obj1 = Counter()
obj2 = Counter()
print(Counter.count)

In [ ]:
class MathUtils:
    @staticmethod
    def add(a, b):
        return a + b

print(MathUtils.add(5, 7))

In [ ]:
import math
print(math.sqrt(16))

In [ ]:
# square.py
def area(side):
    return side * side

def perimeter(side):
    return 4 * side

In [ ]:
# cuboid.py
def volume(length, width, height):
    return length * width * height

In [ ]:
# sphere.py
import math
def volume(radius):
    return (4/3) * math.pi * radius**3

In [ ]:
import math
def volume(radius):
    return (4/3) * math.pi * radius**3

In [ ]:
import random
print(random.randint(1, 100))

In [ ]:
import time
start_time = time.time()

time.sleep(1)
end_time = time.time()
print("Execution time:", end_time - start_time, "seconds")

In [ ]:
square = lambda x: x * x
print(square(5))

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x * x, numbers))
print(squares)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
odds = list(filter(lambda x: x % 2 != 0, numbers))
print(odds)

In [ ]:
string = "hello world"
vowels = "aeiou"
count = sum(1 for char in string if char in vowels)
print(count)

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)

In [ ]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

In [ ]:
for i in range(5):
    for j in range(i + 1):
        print("*", end="")
    print()

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(factorial(5))

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Name: {name}, Age: {age}")

In [ ]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)

In [ ]:
import datetime
today = datetime.datetime.now()
print(today.strftime("%A"))

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if num2 != 0:
    print(num1 / num2)
else:
    print("Cannot divide by zero")